.content{
    position: relative;

    .center{
        position: absolute;
        transform: translateX(70%);  /* 水平中央寄せ */
        z-index: 5;
        text-align: center;
        width: 646px;
        margin-bottom: 40px;

        .bg-color{
            background-color: rgb(255, 255, 255);
            padding-top: 100px;
            padding-bottom:100px ;
            border-radius:0 0 20px 20px ;

            // top
            .top {
                .top-image {
                    display: inline-block;
                    width: 100%;
                    height: 500px;
                    text-align: center;
                    position: relative;
            
                    img {
                        width: 100%;
                        max-height: 500px;
                        object-fit: cover;
                        object-position: 0px -30px;
                    }
            
                    p, h3 {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: #ffffff;
                        text-align: center;
                    }
            
                    p {
                        font-size: 20px;
                        margin-top: -40px; // h3との位置を調整（任意）
                    }
            
                    h3 {
                        font-size: 34px;
                        margin-top: 20px; // pとのバランスを取る
                    }
                }
            }
            

            .explanation{
                margin-top: 100px;
                .explanation-title{
                    font-size: 32px;
                    font-weight: bold;
                }
            }
            
            
            .content-menu{
                margin: 100px 10% 0 10%;
                border: 1px solid black;
                position: relative;
                padding-bottom:100px ;
                
                .number{
             
                    background-color: #EF9C66;
                    width: 100px;
                    height: 100px;
                    border-radius: 100px;
                    margin: 0 auto 30px auto;
                    margin-top: -50px;
                    p{
                        font-size: 65px;
                        color: #FFFFFF;
                    }
                 

                    
        
                }
                .sab-title{
                    margin-top: 100px;
                }
                .title{
                    font-size: 32px;
                    color: #EF9C66;
                    margin-bottom: 20px;
        
                }
                .content-img {
                    width: 80%;
                    margin: 0 auto;
                    position: relative;
                    z-index: 20;
                
                    img {
                        display: block;
                        margin: 0 auto;
                    }
                
                    .more {
                        position: absolute;
                        bottom:-50px;
                        left: 50%;
                        transform: translateX(-50%);
                        padding: 20px 30px;
                        background-color: #ffffff;
                        width: 250px;
                        z-index: 100;
                        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
                
                        p {
                            font-size: 15px;
                        }
                
                        .link {
                            margin-top: 20px;
                            border: 1px solid #EF9C66;
                            border-radius: 30px;
                            padding: 0 50px;
                            color: #EF9C66;
                        }
                    }
                }
                
            }
        }
        .footer-content{
            color: #FFFFFF;
            text-align: center;
            margin:100px
        }

        
        
        
        
        
    }

}


@media screen and (max-width: 959px) {
	.scroll-container{
        .background--1{
            background-image: none;

        }
        .background--2{
            background-color:transparent;
        }
        .background--3{
            background-image: none;
        }
        .background--4{
            background-color:transparent;
        }
        .background--5{
            background-image: none;
        }

    }
    .content{
            padding-top:0px;
            padding-bottom:0px ;
            border-radius:0;
        .center{
            position: static;
            transform:none;  /* 水平中央寄せ */
            z-index: 5;
            text-align: center;
            width: 100%;
            margin-bottom: 40px;
            
            .bg-color{
                background-color: rgb(255, 255, 255);
                padding-top: 0px;
                padding-bottom:50px ;
                border-radius:0 0 20px 20px ;
                .top{
                    .mobile-company-text{
                        position: fixed; // ← relativeではなくfixedに変更
                        top: -70px;
                        left: -20px;
                        width: 200px;
                        z-index: 100; // 数値にする
                        display: block;
                        
                    }
                    .menu-hamburger{
                        display: block;
                        z-index: 50px;
                    }
                    .top-image {
                        display: inline-block;
                        width: 100%;
                        height: 500px;
                        text-align: center;
                        position: relative;
                
                        img {
                            width: 100%;
                            height: 100%;
                            max-height: 700px;
                            object-fit: cover;
                            object-position: 0px -30px;
                        }
                
                        p, h3 {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            color: #ffffff;
                            text-align: center;
                        }
                
                        p {
                            font-size: 15px;
                            margin-top: -40px; // h3との位置を調整（任意）
                        }
                
                        h3 {
                            font-size: 34px;
                            margin-top: 20px; // pとのバランスを取る
                        }
                    }
                }
                .content-menu{
                    margin: 100px 10% 0 10%;
                    border: 1px solid black;
                    position: relative;
                    padding-bottom:100px ;
                    
                    .number{
                        // position: absolute;
                        // width: 100px;
                        // height: 100px;
                        // top: -50px;
                        // left: 200px;
                        // color:#ffffff;
                        // background-color: #EF9C66;
                        // border: 1px solid #EF9C66;
                        // border-radius: 300px;
                        // font-size: 80px;
                        // padding-top:-10px ;
                        background-color: #EF9C66;
                        width: 100px;
                        height: 100px;
                        border-radius: 100px;
                        margin: 0 auto 30px auto;
                        margin-top: -50px;
                        p{
                            font-size: 65px;
                            color: #FFFFFF;
                        }
                    
        
                }
                .sab-title{
                    margin-top: 50px;
                }
                .title{
                    font-size: 32px;
                    color: #EF9C66;
                    margin-bottom: 20px;
        
                }
                .content-img {
                    width: 80%;
                    margin: 0 auto;
                    position: relative; // ←これが必要！重ねるため
                    z-index: 20;
                
                    img {
                        display: block;
                        margin: 0 auto;
                    }
                
                    .more {
                        position: absolute;
                        bottom:-50px; // 画像のどの位置に重ねたいか調整（例：下部）
                        left: 50%;
                        transform: translateX(-50%); // 中央に配置
                        padding: 20px 30px;
                        background-color: #ffffff; // ← 白背景
                        width: 200px;
                        z-index: 100;
                        box-shadow: 0 5px 15px rgba(0,0,0,0.1); // ←見やすくするための影（任意）
                
                        p {
                            font-size: 12px;
                        }
                
                        .link {
                            margin-top: 20px;
                            border: 1px solid #EF9C66;
                            border-radius: 30px;
                            padding: 0 50px;
                            color: #EF9C66;
                        }
                    }
                }

                }
            }
            .footer-content{
                color: #000000;
                text-align: center;
                margin:50px
                
            }
        }
    }

}