.content{
    position: relative;

    .center{
        position: absolute;
        transform: translateX(65%);  /* 水平中央寄せ */
        z-index: 5;
        text-align: center;
        width: 646px;
        margin-bottom: 40px;

        .bg-color{
            background-color: aliceblue;
            padding-bottom: 50px;
            border-radius: 0 0 10px 10px;

            // top
            .top{
                .top-image{
                    position: relative;
                    
                    img{
                        width: 100%;
                        object-fit:cover;
                    }
                    .top-title-area{
                        position: absolute;
                        bottom:-50px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 80%; /* スマホ対応: はみ出さないように調整 */
                        max-width: 500px; /* デスクトップでは幅500pxまで */
                        background-color: #ffffff;
                        border: 5px solid #D9D9D9;
                        text-align: center;
                        padding: 10px;
                        p{
                            font-size: 20px;                
                        }
                        span{
                            display: block;
                            border: 1px solid #EF9C66;
                            width: 10%;
                            margin: 0 auto;
                        }
                        h3{
                         
                            font-size: 34px;
                            color: #EF9C66;
    
                        }
                    }
        
                }
                .top-bottom-text{
                    text-align: left;
                    margin: 120px auto 0 auto;

                    width: 80%;
                }

                
            }
            .content-item1{
                background-color: #F2E5BF;
                width: 90%;
                margin: 100px auto 0px auto;
                padding-bottom: 50px;
                .content-text{
                    padding: 50px 0;
                    margin:30px auto 0 auto;
                    width: 90%;
                    text-align: left;

                }
                img{
                    margin: 0 auto;
                    width: 90%;
                    height: 300px;
                    object-fit:cover;
                    object-position: 0px -30px ;
                }

            }
            .business{
                margin-top: 100px;
                .business-title{
                    font-size: 32px;
                    color: #EF9C66;
                }
                .business-span{
                    display: block;
                    border: 1px solid #EF9C66;
                    width: 50px;
                    margin: 0 auto;
                }
                .business-item1{
                    background-color: #F2E5BF;
                    width: 90%;
                    margin: 100px auto;
                    padding-top: 50px;
                    padding-bottom: 100px;
                    .business-number{
                        background-color: #EF9C66;
                        width: 50px;
                        height: 50px;
                        border-radius: 100px;
                        margin: 0 auto 30px auto;
                        p{
                            font-size: 35px;
                        }
                    }
                    .business-sab-title{
                        margin-bottom: 30px;
                        font-size: 18px;
                        font-weight: bold;
                    }
                    .business-item-text{
                        width: 90%;
                        text-align: left;
                        margin: 0 auto;
                        padding-bottom: 50px;
                    }
                    img{
                        width: 100%;
                        height: 200px;
                        object-fit:cover;
                        object-position: 0px 0px ;
                    }
                }
            }

            


          
        }
        .footer-content{
            color: #FFFFFF;
            text-align: center;
            margin:100px
            
        }


        
        
        
        
        
    }

}
@media screen and (max-width: 959px) {
	.scroll-container{
        .background--1{
            background-image: none;

        }
        .background--2{
            background-color:transparent;
        }
        .background--3{
            background-image: none;
        }
        .background--4{
            background-color:transparent;
        }
        .background--5{
            background-image: none;
        }

    }
    .content{

        .center{
            position:static;
            transform: none;
            z-index: 5;
            text-align: center;
            width: 100%;
            margin-bottom: 30px;
            
            .bg-color{
                background-color: rgb(255, 255, 255);
                padding-top:0px;
                padding-bottom: 0px;
                border-radius: 0;
                .top{
                    .mobile-company-text{
                        position: fixed; // ← relativeではなくfixedに変更
                        top: -70px;
                        left: -20px;
                        width: 200px;
                        z-index: 100; // 数値にする
                        display: block;
                        
                    }
                    .menu-hamburger{
                        display: block;
                        z-index: 50;
                    }
                    .top-image{
                        

                        .top-title-area{
                            position: absolute;
                            bottom:-50px;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 80%; /* スマホ対応: はみ出さないように調整 */
                            max-width: 500px; /* デスクトップでは幅500pxまで */
                            background-color: #ffffff;
                            border: 5px solid #D9D9D9;
                            text-align: center;
                            padding: 5px;
                            p{
                                font-size: 15px;                
                            }
                            span{
                                display: block;
                                border: 1px solid #EF9C66;
                                width: 10%;
                                margin: 0 auto;
                            }
                            h3{
                             
                                font-size: 25px;
                                color: #EF9C66;
                                margin-bottom: 10px;
        
                            }
                        }
                    }
                }
             
              
            }

            .footer-content{
                color: black;
                margin: 20px;
                padding-bottom: 10px;
                text-align: center;
            }
        }
    }

}