.content{
    position: relative;

    .center{
        position: absolute;
        transform: translateX(65%);  /* 水平中央寄せ */
        z-index: 5;
        text-align: center;
        width: 646px;
        margin-bottom: 20px;

        .bg-color{
            background-color: rgb(255, 255, 255);
            padding-top: 100px;
            border-radius: 0 0 20px 20px;
            // top
            .top{
                .top-image{
                    margin-top: 100px;
                    display: inline;
                    width:100%;
                    height: 500px;
                    position: relative;
                    
                    img{
                        width: 100%;
                        height: 500px;
                        object-fit:cover;
                        object-position: 0px -30px ;
                        box-shadow: 0px -60px 30px rgba(255, 153, 0, 0.2), /* 上方向の影 */
                        0px 60px 30px rgba(255, 153, 0, 0.2);  /* 下方向の影 */
                    }
        
                    p{
                        position: absolute;
                        bottom:90px;
                        left: -50px;
                        font-size: 20px;
                        color: #ffffff;

                        
                    }
                    h3{
                        position: absolute;
                        bottom:50px;
                        left: -70px;
                        font-size: 34px;
                        color: #ffffff;

                    }
                    .handwriting{
                        position: absolute;
                        bottom:-10px;
                        right: -80px;
                        font-size: 34px;
                        color: #ffffff;
                        transform: rotate(-10deg);
                    }
                }
                
            }

            .full-time{
                margin-top: 200px;
                .full-time-title{
                    margin-left:-450px ;
                    margin-right: 350px;
                    padding: 90px 80px 50px 0;
                    text-align: right;
                    font-size: 20px;
                    color: #ffffff;
                    border: 1px solid #EF9C66;
                    border-radius: 0 100px 100px 0;
                    
                    background-color: #EF9C66;
                    overflow: hidden;
                }
                .full-time-title-mobile{
                    display: none;
                }
                img{
                    margin: -25px auto;
                    width: 80%;
                }
                .btn{
                    
                    font-size: 12px;
                    background-color: #F2E5BF;
                    margin: 60px auto 0 auto;
                    width: 20%;
                    border: 2px solid #EF9C66;
                    border-radius: 30px;
                    color: #EF9C66;
                }
            }
            .part-time{
                margin-top: 200px;
                .part-time-title{
                    margin-right:-455px ;
                    margin-left: 350px;
                    padding: 90px 0px 50px 80px;
                    text-align: left;
                    font-size: 20px;
                    color: #000000;
                    border: 1px solid #F2E5BF;
                    border-radius:100px 0 0 100px;
                    overflow: hidden;
                    background-color: #F2E5BF;
                }
                img{
                    margin: -25px auto;
                    width: 80%;
                }
                .btn{
                    
                    font-size: 12px;
                    background-color: #F2E5BF;
                    margin: 60px auto 0 auto;
                    width: 20%;
                    border: 2px solid #EF9C66;
                    border-radius: 30px;
                    color: #EF9C66;
                }
            }
            .one-word{
                margin-top: 100px;
                .one-word-title{
                    font-size: 32px;
                }
                .one-word-text{
                    text-align: center;
                    font-size: 16px;
                    width: 70%;
                    margin: 0 auto;
                }
            }
            .friend{
                margin-top: 100px;
                .friend-title{
                    p{
                        font-size: 15px;
                    }
                    h3{
                        font-size: 32px;
                        color: #EF9C66;
                    }
                }
                .friend-text{
                    margin-top: 50px;
                    padding-bottom: 20px;
                    h4{
                        font-size: 24px;
                    }
                    p{
                        font-size:16px ;
                        width: 70%;
                        margin: 30px auto 50px auto;
                    }
                    img{
                        width: 70%;
                        margin: 0 auto;
                    }
                }
            }
            .company-messeage{
                margin-top: 100px;
                padding-bottom: 10px;
                .company-messeage-title{
                    color: #EF9C66;
                    font-size: 32px;
                }
                .company-messeage-area{
                    background-color: #F2E5BF;
                    width: 90%;
                    margin: 50px auto 100px auto;
                    padding: 50px 0;
                    .company-messeage-item1{
                        color: #ffffff;
                        background-color: #EF9C66;
                        margin: 50px auto;

                        width: 300px;
                    }
                    .company-messeage-item2{
                        text-align: left;
                        margin: 50px auto;
                        width: 50%;
                    }
                    img{
                        width: 50%;
                        height: 200px;
                        margin:  0 auto;
                        object-fit:cover;
                    }
                }


            }

           
        }
        .footer-content{
            color: #FFFFFF;
            text-align: center;
            margin:100px
            
        }

        
        
        
        
        
    }

}


@media screen and (max-width: 959px) {
	.scroll-container{
        display: none;

    }
 
    .menu-hamburger{
        display: block;
    }
    .content{

        .center{
            position: absolute;
            transform: translateX(1px);
            width: 100%;
            
            .full-time{
                margin-top: 200px;
                .full-time-title{
                   display: none;

                }
                .full-time-title-mobile{
                    display: block;
                }
            }
            .part-time{
                margin-top: 200px;
                .part-time-title{
                    display: none;
                }
            }
            
            .footer-content{
                color: black;
                margin: 20px;
                padding-bottom: 10px;
                text-align: center;
            }
        }
    }

}


